body {
    margin          : 0;
    padding         : 0;
    width           : 100%;
    background-color: #dbdbdb
}

/* header */
.fixed {
    position: fixed;
    width   : 100%;
    top     : 0;
    z-index: 3
}

.tabs {
    background-color: white;
    height          : 75px;
    text-align      : center;

}

.tab-element {
    font-size  : 13px;
    line-height: 87px;
}

.space {
    margin: auto;
}

.element {
    text-decoration: none;
    margin         : 10px;
    margin-left    : 10px;
    margin-right   : 10px;
    color          : black;
    letter-spacing : 1.4px;
    font-family    : "bebas-neue", sans-serif;

}

.element:hover {
    color: #4a4a4a;
}

.logo {
    width  : 120px;
    height : 120px;
    z-index: 50;
}

.flex {
    display        : flex;
    justify-content: center;
}

.bebas {
    font-family: "bebas-neue", sans-serif
}


/* Here it is for the block1*/

.block1 {
    margin-top       : 75px;
    background-image : url(images/Banner.png);
    width            : 100%;
    height           : 800px;
    background-repeat: no-repeat;
    background-size  : contain;
}

/* display grid*/
.grid1 {
    display              : grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows   : 20% 20% 20% 20% 20%;
}

.name-container {
    grid-column-start: 2;
    grid-row-start   : 2;
}

.textbox-container {
    grid-row-start   : 3;
    grid-column-start: 2;
    padding-top      : 100px;
}

.signblock {
    grid-column-start: 1;
    grid-row-start   : 4;

}

.name {
    margin-left: 120px;
    font-size  : 60px;
    line-height: 1.3em;
}

.textbox {
    margin-left  : auto;
    margin-right : auto;
    text-align   : left;
    width        : 400px;
    height       : 300px;
    font-size    : 11pt;
    padding      : 50px;
    padding-left : 65px;
    padding-right: 65px;
    line-height  : 18px
}

.backwhite {
    background-color: white;
    color           : #4a4a4a;
}

.title {
    font-size: 20pt;
    color    : black
}

.helvetica {
    font-family: Helvetica, sans-serifne;

}

/* Now for the block 2*/

.block2 {
    margin-top         : 100px;
    background-image   : url(images/Quote.png);
    width              : 100%;
    height             : 800px;
    background-repeat  : no-repeat;
    background-size    : contain;
    background-position: right;
}

.grid2 {
    display              : grid;
    grid-template-columns: 10% 20%;
    grid-template-rows   : 40% 60%;
}

.quoteblock {
    grid-row-start   : 2;
    grid-column-start: 2;
}

/* here it starts for the block3*/



.relative {
    position: relative;
}
.b3heading{
    font-size: 50pt;
    width: 410px;
    margin-top: 20px;
    border-bottom: 3px solid black;
    position: absolute; 
    left: 40%;
    top:-60px
     
}
.block3{
    margin-top: 50px;
    width: 100%;
    height: 700px;
    background-image: url(images/grad-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.blogContain{
    font-size: 60pt;
    position: absolute;
    top: 120px;
    left: 20%;
}
.read{
    position: absolute;
    right: 300px;
    bottom: 500px;
}
.button{
    background: black;  
    color: white;
    font-size: 12pt;
    width: 200px;
    height: 60px;
}
.button:hover{
    color: whitesmoke;
    width: 210px;

}
.blogCard {
    margin          : 10px;
    padding-bottom  : 20px;
    background-color: white
}

.blogCard:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.photocontainer{
  background-color: white;
  width: 370px;
  height: 400px;   
}

.blogimage{
    position: absolute;
    bottom: 40px; 
    right: 20px;
}
.sub{
    margin-top  : 45px;
    margin-right: 15px;
    margin-left : auto
}
.sub:hover{
    width: 20px;
}

.position1{
    position: absolute;
    bottom: 60px;
    left: 300px;
}
.position2{
    position: absolute;
    bottom: 60px;
    left: 800px;

}
.position3{
    position: absolute;
    bottom: 60px;
    left: 1300px;

}
/* block 4*/


.instaContainer {
    margin-top: 50px;
    height    : 800px
}

.instaImages {
    margin-top  : 50px;
    margin-left : auto;
    margin-right: auto;
    width       : 1100px
}

.flexCenter {
    display        : flex;
    justify-content: center
}

.insta1 {
    position: absolute;
    top     : 100px;
    left    : 0
}

.insta1:hover {
    z-index   : 1;
    width     : 310px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.insta2 {
    position: absolute;
    top     : 0;
    left    : 270px
}

.insta2:hover {

    z-index   : 1;
    width     : 310px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.insta3 {
    z-index : 1;
    position: absolute;
    top     : 200px;
    left    : 500px
}

.insta3:hover {

    z-index   : 10;
    width     : 310px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.instaQuote {
    position: absolute;
    top     : 350px;
    left    : 230px
}

.instaQuote:hover {

    z-index   : 10;
    width     : 310px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.insta4 {
    position: absolute;
    top     : 0;
    left    : 650px
}

.insta4:hover {
    top : -5px;
    left: 640px;
}

.insta5 {
    position: absolute;
    top     : 310px;
    right   : 0
}

.insta5:hover {

    z-index   : 10;
    width     : 310px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


/* Now the footer */

.footer {
    margin-top           : 100px;
    background-color     : black;
    width                : 100%;
    height               : 400px;
    display              : grid;
    grid-template-columns: 30% auto;
    grid-template-rows   : 50% auto;
}

.subscribe {
    grid-column-start: 2;
    grid-row-start   : 1;
    color            : white;
    margin-top       : 100px;
    height           : 100px;
    font-size        : 70pt;
}

.footerform {
    grid-column-start: 2;
    grid-row-start   : 1;
    margin-top       : 300px;
    height           : 100px;
}

.footerinput {
    border       : none;
    background   : none;
    color        : white;
    font-size    : 14pt;
    width        : 400px;
    margin-right : 40px;
    border-bottom: 1px solid white;
}

.footerbutton {
    background: none;
    border    : none;
}
